<footer id="mainfooter" class="page-footer">
  <div class="container">
    <div class="row justify-content-center align-items-center pt-2">
      <div class="text-center" style="font-size:14px;font-weight:500;color:#474444;margin-bottom:10px;">
        <a routerLink="/readme" style="color:#474444;text-decoration:none;cursor:pointer;">README</a>
      </div>
    </div>
    <div class="row mb-2 justify-content-center align-items-center">
      <div class="text-center" style="font-size:14px;font-weight:500;color:#474444;">© 2020 Copyright
        <a href="https://adhikaar.github.io/" target ="_blank" style="font-weight:500;color:#BE57B3"> Adhikaar Marwaha</a>
      </div>
    </div>
  </div>
</footer>
